.textarea{
    width: 18vw;
    height: 18vh;
  color:black
}

.input{
    width: 18vw;
    height: 4vh;
    color:black
}


.input,
.textarea{
    margin: 10px;
    background-color: #ffffff;
    color:black
}

